@import url(./base.css);

body {
    min-height: 100vh; 
}

 body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10rem;
}

 body > header h1 {
    padding-bottom: 0.5rem;
}

 body > header menu {
    display: flex;
    gap: 1rem
}

body > header menu a {
    background-repeat: no-repeat;
    object-fit: cover;
}


body > nav {
    padding: 0;
}

body > nav menu {
    display: flex;

    height: 2rem;
} 

body > nav menu li a{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
} 

body > main {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;

    gap: 1rem;
    
    min-height: 100vh;
}

article {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }

footer {


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 2rem;
}



@media(min-width: 768px) {

    body {
        display: grid;

       grid-auto-columns: 10rem auto;
        grid-auto-rows: min-content; 

        grid-template-areas: 
        'header header header'
        'category section section'
        'category footer footer';
    }

    body > header {
        grid-area: header;

        height: 5rem; 

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body > nav {
        grid-area: category;
        margin-top: 1rem;
        margin-right: 2rem;

    }

    body > nav menu{
        display:flex;
        flex-direction: column;
        align-items: flex-end;

    }
    body > nav menu li a{
        display:flex;
        justify-content: left;

    }
 
    body > main {
        grid-area:section
    }

    footer {
        grid-area: footer;
    }

}
