* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bluePag: rgb(96, 146, 221);
}

body {
    font-family: sans-serif;
    font-size: 1rem;

    height: 100vh;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bluePag);
    height: 5rem;
    
}

header h1 {
    color: white
}

section {
    margin: 2rem 5rem;
}

h2 {
    margin-left: -2rem;
    margin-bottom: 1rem;
    
    color: var(--bluePag);
}

main section:first-of-type ul {
    list-style:circle;
    
}
main section:first-of-type ul li{
    padding: 0.5rem 0;
    
}
main section:first-of-type ul li.importante{
    font-weight:800;
    text-decoration: underline;
}

main section:nth-of-type(2) table *{
    width: min-content;
    padding: 1rem;
}

main section:nth-of-type(2) table thead:nth-child(1){
    background: var(--bluePag);

    color: white;
}

main section:nth-of-type(2) table tbody tr:nth-child(even) td{
    background: rgb(145, 186, 248);
}

main section:nth-of-type(2) table tbody tr:nth-child(odd) td{
    background: rgb(184, 211, 252);
}

main section:nth-of-type(2) table tbody tr th{
    background: rgba(96, 146, 221, 0.603);
}

main section:nth-of-type(2) table tbody tr:nth-child(even) th{
    background: rgba(96, 146, 221, 0.76);
}

#descanso {
    text-align: center;

    text-transform: uppercase;
    font-weight: 800;
}